<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Board List</title>
</head>
<body>
  <% result.map(list => { %>
    <p>
      <a href="/board/detail?bo_no=<%= list.bo_no %>"><span><%= list.bo_no %>.</span> <%= list.bo_subject %></a>
    </p>
  <% }) %>
</body>
</html>